<body>

    <app-header></app-header>

    <main class="l-main">
        <h1 id="primerTitulo">Política de Privacidad</h1>
        <p><strong>Última actualización:</strong> 10/04/2024 </p>
        <p>La privacidad de nuestros visitantes es muy importante para nosotros. En esta política de privacidad,
            explicamos
            qué información personal recopilamos y cómo la utilizamos.</p>

        <h2>Información que recopilamos</h2>
        <ul>
            <li>Cuando visita nuestro sitio web, recopilamos cierta información automáticamente, como su dirección IP,
                tipo
                de navegador, proveedor de servicios de Internet, páginas que visita, y el tiempo que pasa en nuestro
                sitio.
            </li>
            <li>Si elige registrarse en nuestro sitio, también podemos recopilar información personal como su nombre,
                dirección de correo electrónico y otros datos que nos proporcione voluntariamente.</li>
        </ul>

        <h2>Uso de la información</h2>
        <ul>
            <li>Utilizamos la información recopilada para mejorar nuestro sitio web, personalizar su experiencia,
                responder
                a sus consultas y proporcionarle los servicios solicitados.</li>
            <li>Podemos utilizar su dirección de correo electrónico para enviarle actualizaciones sobre nuestro sitio,
                promociones u otra información relevante. Si en algún momento desea dejar de recibir correos
                electrónicos,
                puede optar por no recibirlos siguiendo las instrucciones incluidas en cada correo electrónico.</li>
            <li>No compartimos su información personal con terceros, excepto cuando sea necesario para cumplir con la
                ley,
                proteger nuestros derechos, o para prestarle los servicios que nos solicite.</li>
        </ul>

        <h2>Cookies y tecnologías similares</h2>
        <ul>
            <li>Utilizamos cookies y otras tecnologías de seguimiento para mejorar la funcionalidad de nuestro sitio web
                y
                para recopilar información sobre cómo se utiliza.</li>
            <li>Puede optar por desactivar las cookies en su navegador, aunque esto puede afectar su experiencia en
                nuestro
                sitio.</li>
        </ul>

        <h2>Enlaces a otros sitios web</h2>
        <p>Nuestro sitio web puede contener enlaces a otros sitios que no están bajo nuestro control. No somos
            responsables
            de las prácticas de privacidad de estos sitios web.</p>

        <h2>Cambios en la política de privacidad</h2>
        <p>Nos reservamos el derecho de actualizar o cambiar nuestra política de privacidad en cualquier momento. Se le
            notificará cualquier cambio significativo en esta página y la fecha de actualización se modificará en
            consecuencia.</p>

        <h2>Contacto</h2>
        <p>Si tiene alguna pregunta sobre nuestra política de privacidad, puede ponerse en contacto con nosotros <a
                routerLink="/contacto">aquí</a>.</p>

    </main>
    <app-footer></app-footer>
</body>