<div class="container mt-5">
    <form *ngIf="mostrarBuscadorDYF" (ngSubmit)="buscarActividades(nombreDestino, fecha)" #buscarForm="ngForm" class="custom-form" method="post">
        <input type="text" class="form-control"  placeholder="¿A dónde vas?" [(ngModel)]="nombreDestino" name="nombreDestino" required>
        <input type="text" class="form-control" placeholder="XXXX-MM-DD" [(ngModel)]="fecha" name="fecha" required>
        <button class="btn btn-danger" type="submit">Enviar</button>
    </form>
</div>
