<app-header></app-header>

<main class="l-main">
    <section class="about section tk-container justify-content-center" id="about">
        <div class="about_container tk-grid">
            <div class="about_data">
                <span class="section-subtitle about_initial">Nosotros</span>
                <h2 class="section-title about_initial">¿Quieres conocernos? <br> Aquí tienes.</h2>
                <br>
                <p class="about_description">Bienvenido a nuestra plataforma de planificación de actividades, una
                    herramienta diseñada para ayudarte a encontrar el plan perfecto en cualquier lugar y fecha.
                    <br>Nuestra misión es simplificar tu búsqueda de actividades ideales, ofreciéndote una variedad de
                    opciones adaptadas a tus preferencias y necesidades.
                    <br> Nos dedicamos a brindarte una experiencia fluida y personalizada, facilitando la reserva y
                    gestión de tus actividades favoritas con solo unos clics.
                </p>
            </div>
            <div class="about_data">
                <img src="../../assets/img/avion.jpg" alt="" class="about_img">
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>