<!-- detalles-reserva.component.html -->
<app-header></app-header>
<div class="container">
  <h2>Incidencias</h2>
  <div *ngIf="mensajes && mensajes.length > 0; else noMensajes">
    <div *ngFor="let mensaje of mensajes" class="card">
      <div class="card-body">
        <h5 class="card-title">{{ mensaje.fechaEnvio }}</h5>
        <p class="card-text">Mensaje de <u>{{ mensaje.idUsuario.nombre }}</u></p>
        <p class="card-text">{{ mensaje.mensaje }}</p>
      </div>
    </div>
  </div>
  <ng-template #noMensajes>
    <p>No tienes mensajes.</p>
  </ng-template>
</div>
<app-footer></app-footer>