<body>

    <app-header></app-header>

    <main class="l-main">
        <h1>Términos de Servicio de la Página de Reservas de Actividades en Distintos Destinos</h1>

        <h2>1. Introducción</h2>
        <p>Bienvenido/a a nuestra página de reservas de actividades en distintos destinos. Estos términos de servicio
            rigen
            tu uso de nuestra plataforma y los servicios ofrecidos a través de ella. Al acceder o utilizar nuestros
            servicios, aceptas cumplir con estos términos.</p>

        <h2>2. Uso de la Plataforma</h2>
        <p>
            <strong>2.1. Elegibilidad:</strong> Debes tener al menos 18 años para usar nuestros servicios. Si eres menor
            de
            18 años, puedes utilizar nuestra plataforma bajo la supervisión de un adulto.<br>
            <strong>2.2. Registro de Cuenta:</strong> Para acceder a ciertas funcionalidades de la plataforma, es
            posible
            que necesites registrarte y crear una cuenta. La información proporcionada al registrarte debe ser precisa y
            actualizada.<br>
            <strong>2.3. Responsabilidad del Usuario:</strong> Eres responsable de mantener la confidencialidad de tu
            cuenta
            y de cualquier actividad que ocurra bajo tu cuenta. Notifícanos inmediatamente si sospechas de cualquier uso
            no
            autorizado de tu cuenta.
        </p>

        <h2>3. Reservas y Pagos</h2>
        <p>
            <strong>3.1. Reservas:</strong> Nuestra plataforma te permite reservar actividades en distintos destinos.
            Nos
            esforzamos por proporcionar información precisa y actualizada sobre las actividades, pero no garantizamos la
            disponibilidad de las mismas.<br>
            <strong>3.2. Pagos:</strong> Los precios de las actividades están sujetos a cambios y pueden variar según la
            ubicación y la temporada. Te cobraremos el monto total al momento de la reserva, a menos que se indique lo
            contrario.
        </p>

        <h2>4. Cancelaciones y Reembolsos</h2>
        <p>
            <strong>4.1. Política de Cancelación:</strong> Cada actividad puede tener su propia política de cancelación.
            Te
            recomendamos revisar las políticas de cancelación antes de realizar una reserva.<br>
            <strong>4.2. Reembolsos:</strong> Los reembolsos están sujetos a las políticas de cancelación de cada
            actividad.
            Si eres elegible para un reembolso, se procesará de acuerdo con nuestros procedimientos estándar.
        </p>

        <h2>5. Responsabilidad y Exención de Responsabilidad</h2>
        <p>
            <strong>5.1. Responsabilidad Limitada:</strong> No somos responsables de ningún daño directo, indirecto,
            incidental, especial, consecuente o punitivo que surja del uso de nuestros servicios.<br>
            <strong>5.2. Exención de Responsabilidad:</strong> No garantizamos la calidad, seguridad o idoneidad de las
            actividades reservadas a través de nuestra plataforma. Es tu responsabilidad evaluar los riesgos asociados
            con
            cada actividad.
        </p>

        <h2>6. Propiedad Intelectual</h2>
        <p>Todos los derechos de propiedad intelectual relacionados con nuestra plataforma y sus contenidos son
            propiedad
            nuestra o de nuestros licenciantes. No puedes utilizar, copiar o distribuir ningún contenido de nuestra
            plataforma sin nuestro consentimiento previo por escrito.</p>

        <h2>7. Modificaciones de los Términos de Servicio</h2>
        <p>Nos reservamos el derecho de modificar estos términos de servicio en cualquier momento. Te notificaremos
            sobre
            cualquier cambio significativo mediante una notificación en nuestra plataforma. El uso continuado de
            nuestros
            servicios después de dichos cambios constituye tu aceptación de los términos modificados.</p>

        <h2>8. Ley Aplicable y Jurisdicción</h2>
        <p>Estos términos de servicio se rigen por las leyes del lugar donde tenemos nuestro principal lugar de negocio,
            sin
            tener en cuenta sus disposiciones sobre conflicto de leyes. Cualquier disputa que surja de estos términos
            estará
            sujeta a la jurisdicción exclusiva de los tribunales de ese lugar.</p>

        <h2>9. Contacto</h2>
        <p>Si tienes alguna pregunta o inquietud sobre estos términos de servicio, no dudes en contactarnos a través de
            los
            medios proporcionados en nuestra plataforma.</p>
    </main>
    <app-footer></app-footer>
</body>